@media (max-width: 700px) {
    body {
        background: #383838;
        font-size: 16px;
    }
    div {
        flex-flow: column;
    }
    div>* {
        max-width: 700px;
        height: 100%;
    }
    aside {
        background-image: none;
        background-color: white;
    }
    aside img {
        max-width: 300px;
    }
}